{% extends 'base.html.twig' %}

{% block title %}Accueil - WoOx Travel{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h1>Bienvenue chez WoOx Travel!</h1>
        {% if app.user %}
            <p>Salut, {{ app.user.email }}! <a href="{{ path('app_logout') }}">Déconnexion</a></p>
        {% else %}
            <p><a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('app_register') }}">Inscription</a></p>
        {% endif %}
    </div>
{% endblock %}