{% extends 'base.html.twig' %}

{% block title %}Edit ContratSponsoring{% endblock %}

{% block body %}
    <h1>Edit ContratSponsoring</h1>

    {{ include('contrat_sponsoring/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contrat_sponsoring_index') }}">back to list</a>

    {{ include('contrat_sponsoring/_delete_form.html.twig') }}
{% endblock %}
