{% extends 'admin.html.twig' %}

{% block title %}New ContratSponsoring{% endblock %}

{% block body %}
    <h1>Create new ContratSponsoring</h1>

    {{ include('contrat_sponsoring/_form.html.twig') }}

    <a href="{{ path('app_contrat_sponsoring_index') }}">back to list</a>
{% endblock %}
